{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-sm-12">
                <img src="/static/room-images/marjors-suite.png" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="col col-lg-6 col-sm-12">
                <h1 class="h1">Major</h1>
                <ul>
                    <li>Test data</li>
                </ul>
            </div>
        </div>
    </div>
{{end}}